<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story Rizky</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body class="body" style="background-color: #8D99AE;">
    <nav class="navbar navbar-fixed-top", style="background-color: #2B2D42;">
        <a class="navbar-brand" style="color: #EDF2F4;">Rizky Pratama</a>
    </nav>
    <div id="galeri">
        <div class="container-fluid" style="
          padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;"  >
            <h1>Galeri Rizky Pratama</h1>
            <div class="col-md-3" >
                <figure>
                    <img src="{% static 'bandung.jpg' %}" style="width: 20 vw; height: 20vw;
                    border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                    <figcaption>Bandung</figcaption>
                </figure>
                
            </div>
            <div class="col-md-3">
                <figure>
                <img src="{% static 'madinah.jpg' %}" style="width: 20 vw; height: 20vw;
                border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                <figcaption>madinah</figcaption>
                </figure>          
            </div>
            <div class="col-md-3">
                <figure>
                <img src="{% static 'sentul.jpg' %}" style="width: 20 vw; height: 20vw;
                border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                <figcaption>Sentul</figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                <img src="{% static 'stadium.jpg' %}" style="width: 20 vw; height: 20vw;
                border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
                <figcaption>Gelora Bungkarno</figcaption>
                </figure>
            </div>
        </div>
      </div>

</body>