<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story Rizky</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body class="body">
  <nav class="navbar navbar-expand-lg navbar-fixed-top", style="background-color: #2B2D42;">
    <a class="navbar-brand" style="color: #EDF2F4;">Rizky Pratama</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#awal" style="color: #EDF2F4">Awal</a></li>
        <li class="nav-item"><a class="nav-link" href="#deskripsi" style="color: #EDF2F4" >Deskripsi Diri</a></li>
        <li class="nav-item"><a class="nav-link" href="#pendidikan" style="color: #EDF2F4">Riwayat Pendidikan</a></li>
        <li class="nav-item"><a class="nav-link" href="#pekerjaan" style="color: #EDF2F4">Pengalama Kerja</a></li>
        <li class="nav-item"><a class="nav-link" href="#mediasosial" style="color: #EDF2F4">Media Sosial</a></li>
      </ul>
    </div>    
  </nav>

    <div id="awal" style="background-color: #8D99AE;height:100% ">
      <div class="container-fluid" style="
        padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;"  >
        <div class="col-md-4 col-xs-12" >
          <img src="{% static 'Rizkypratama.jpg' %}" style="width: 20 vw; height: 20vw;
          border: 1vw solid #2B2D42;box-sizing: border-box;border-radius: 150px">
        </div>
        <div class="col-md-8 col-xs-12">
          <div style="color: #EDF2F4;">
            <h1 style="font-size: 1.7vw;font-weight: bold;line-height: 2vw; font-family: Arial, Helvetica, sans-serif;">Halo,<br>
              Saya Rizky!<br>
              Selamat Datang di Website Saya</h1> 
              <p style="font-size:1.667vw;line-height: 1.7vw;font-family: Arial, Helvetica, sans-serif">Di dalam website ini terdapat informasi<br> mengenai diri saya. Selamat menjelajah!</p> 
          </div>
          
        </div>
        
      </div>
    </div>
    <div id="deskripsi" style="background-color: #BEC6D1;height:100%; color: #2B2D42;">
      <div class="container-fluid" style="padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >
        <h1 style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif">Deskripsi Diri</h1>
        <p style="text-align:justify;font-family: Arial, Helvetica, sans-serif;font-size: 1.7vw;">
          <br>Halo, perkenalkan saya Rizky Pratama Nataprawira atau  biasa dipanggil
          Kybe. Saat ini saya merupakan mahasiswa tingkat 2 Sistem Informasi di Fakultas
          Ilmu Komputer Universitas Indonesia. Untuk saat ini, kesibukan
          saya adalah kuliah dan beberapa kepanitiaan. 
        </p>
      </div>
    </div>
    <div id="pendidikan" style="background-color: #CFD6DE;height:100%; color:#2B2D42 ;">
      <div class="container-fluid" style="padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >
        <h1 style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif">Riwayat Pendidikan</h1>
        <p style="font-family: Arial, Helvetica, sans-serif;font-size: 1.7vw;">
          <br>
          Universitas Indonesia (2019-Sekarang)<br>
          SMAN 78 Jakarta (2016-2019)<br>
          SMPN 19 Jakarta (2013-2016)<br>
          SDN 05 Bendungan Hilir, Jakarta (2007-2013)
        </p>
      </div>
    </div>
    
    <div id="pekerjaan" style="background-color: #DAE0E6;height:100%; color:#2B2D42 ;">
      <div class="container-fluid" style="padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >
        <h1 style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif">Pengalaman Kerja</h1>
        <p style="font-family: Arial, Helvetica, sans-serif;font-size: 1.7vw;">
          <br>
          Sayang sekali saya belum pernah terjun ke dunia kerja, walau demikian<br>
           saya mengikuti beberapa kepanitiaan, antara lain:<br><br>
           <b>Compfest</b>
           <br>Staff of Fundraising (Feb 2020 - Sekarang)<br>
           <b>PMB Fasilkom</b>
            <br>Staff of Event (Jul 2020 - Sekarang)
        </p>
      </div>
    </div>
    <div id="mediasosial" style="background-color: #E4E9ED;height:100%; color:#2B2D42 ;">
      <div class="container-fluid" style="padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >
        <h1 style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif">Media Sosial</h1>
        <p style="font-family: Arial, Helvetica, sans-serif;font-size: 1.7vw;">
          <br>
          Anda dapat menghubung saya melaui :<br>
          Instagram : @Rizkyprataman<br>
          Twitter : @Rizkyprataman<br>
          Line : Rizkyprataman
        </p>
      </div>
    </div>

  </body>
</html>