
@media all{
    .navbar .nav-item:hover .nav-link{ background: #D90429;
        border: 0.6vw solid #EDF2F4;
        border-radius: 1.2vw;
        font-size: 1.7vw;
      }
    .navbar .nav-item {background: #D90429;
        border: 0.5vw solid #EDF2F4;
        border-radius: 1.2vw;
        font-size: 1.7vw;
      }
      html {
        scroll-behavior: smooth;
      }
}